body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: Web_1920___1;
}
#Web_1920___1 * {
	margin: 0;
	padding: 0;
}
#Web_1920___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1800px;
	height: 900px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-enable-deep-linking: true;
}
#download {
	opacity: 1;
	fill: url(#download_A0_Rectangle_2_pattern);
}
.download {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 900px;
	left: 0px;
	top: 0px;
}
#Ret_ngulo_2 {
	opacity: 0.39;
	fill: rgba(28,26,26,1);
}
.Ret_ngulo_2 {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 900px;
	left: 0px;
	top: 0px;
}
#Vote_Bem {
	opacity: 1;
	position: absolute;
	left: 650.958px;
	top: 412.91px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 500px;
	height: 75px;
	text-align: center;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Vote_Bem_A0_Text_2 {
	opacity: 1;
	position: absolute;
	left: 8px;
	top: 37px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 247px;
	height: 60px;
	line-height: 60px;
	margin-top: -10px;
	text-align: center;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#Um_quiz_politico_que_voc__pode {
	opacity: 1;
	position: absolute;
	left: 462.906px;
	top: 556.138px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 861px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -15px;
	text-align: center;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Grupo_de_m_scara_2 {
	opacity: 1;
	position: absolute;
	width: 82px;
	height: 62px;
	left: 278.594px;
	top: 15px;
	overflow: visible;
}
#Grupo_de_m_scara_3 {
	opacity: 1;
	position: absolute;
	width: 74px;
	height: 50px;
	left: 1712px;
	top: 17px;
	overflow: visible;
}
#Ret_ngulo_7 {
	opacity: 1;
	fill: rgba(255,255,255,0);
	stroke: rgb(255, 255, 255);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ret_ngulo_7 {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 90px;
	left: 753px;
	top: 669.273px;
}
#Come_ar {
	opacity: 1;
	position: absolute;
	left: 798px;
	top: 686.86px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	line-height: 90px;
	margin-top: -22.5px;
	text-align: center;
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}